* {
  font-family: Segoe UI;
}

body#gadget { 
  width: 130px;
  height: 67px;
  color: #ffffff;
  font-size: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
}

body#gadget div {
  text-align: center;
}

body#gadget a {
  text-decoration: none;
  color: #ffffff;
}

body#settings {
  width: 310px;
  height: 400px;
  margin-top: 0;
  margin-left: 0;
}

body#settings * {
  font-size: 12px;
}

#dateArea {
  height: 12px;
}
.normalDate { font-size: 1.1em; }
.smallDate  { font-size: 0.9em; }

#timeArea {
  white-space: nowrap;
}
.normalTime { height: 45px; } 
.bigTime    { height: 57px; } 
.smallTime  { height: 33px; }

#bottomArea {
  height: 12px;
  font-size: 1.1em;
}

.bigger {
  font-weight: bold;
  margin-bottom: 2px;
}

#tzLabel {
  width: 7em;
}

#example_table td {
  vertical-align: top;
}

ul {
  list-style: none;
  margin: 0;
}
