* {
  font-family: Segoe UI;
}

body#gadget { 
  width: 130px;
  height: 67px;
  color: #ffffff;
  font-size: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
}

body#gadget a {
  text-decoration: none;
  color: #ffffff;
}

body#settings {
  width: 310px;
  height: 400px;
  margin-top: 0;
  margin-left: 0;
}

body#settings * {
  font-size: 12px;
}

#imgBackground {
  position: absolute;
  top: -6px;
  left: -6px;
}

.bigger {
  font-weight: bold;
  margin-bottom: 2px;
}

#example_table td {
  vertical-align: top;
}

ul {
  list-style: none;
  margin: 0;
}

#t_charity {
  margin-top: 5px;
  margin-bottom: 5px;
}

#fontColor {
	width: 20px;
  height: 8px;
	border: 1px solid black;
}
