* {
  xxfont-size: 7.4pt;
  font-family: Segoe UI;
}

body#gadget { 
  width: 130px;
  height: 67px;
  color: #ffffff;
  font-size: 7.4pt;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
}

body#gadget div {
  text-align: center;
}

body#gadget a {
  text-decoration: none;
  color: #ffffff;
}

body#settings {
  width: 310;
  height: 400;
  margin-top: 0;
  margin-left: 0;
}

body#settings * {
  font-size: 10pt;
}

#dateArea {
  height: 12px;
  /* background-color: blue; */
}
.normalDate { font-size: 1.1em; }
.smallDate  { font-size: 0.9em; }

#timeArea {
  white-space: nowrap;
  /* background-color: red; */
}
.normalTime { height: 45px; } // = 67 - 5 - 5 - 12
.bigTime    { height: 57px; } // = 67 - 5 -5
.smallTime  { height: 33px; } // = 67 - 5 - 5 - 12 - 12

#bottomArea {
  height: 12px;
  font-size: 1.1em;
}

.bigger {
  font-weight: bold;
  margin-bottom: 2px;
}

#tzLabel {
  width: 7em;
}

#userInputArea {
  line-height: 2.2em;
}

#example_table td {
  vertical-align: top;
}
